 @page "/courses/details"
 @inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>


<div>
    
    @if (course is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <PageHead Title="Course" BackLink="/courses" EditLink="@($"/courses/edit?id={course!.Id}")" />

        <dl class="row">
            <dt class="col-sm-2">Course Name</dt>
            <dd class="col-sm-10">@course.CourseName</dd>
            <dt class="col-sm-2">Course Code</dt>
            <dd class="col-sm-10">@course.CourseCode</dd>
            <dt class="col-sm-2">Department Name</dt>
            <dd class="col-sm-10">@course.Department!.DepartmentName</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@course.CreatedBy</dd>
            <dt class="col-sm-2">CreatedAt</dt>
            <dd class="col-sm-10">@course.CreatedAt</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@course.UpdatedBy</dd>
            <dt class="col-sm-2">UpdatedAt</dt>
            <dd class="col-sm-10">@course.UpdatedAt</dd>
        </dl>
    }
</div>

@code {
    private Course? course;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {

        course = await CourseRepository.GetById(Id);

        if (course is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
